
@media screen and (min-width: 992px) {
	
	.services-marketing {
		height: 55vh;
	}

}

@media screen and (max-width: 991px)  {
	
    .navbar-brand img {
	    margin-right: auto;
	    margin-left: auto;
	}	

	.navbar-right {
		margin-right: auto;
		margin-left: auto;
	}

	/* Toggle Bar */
	.navbar-default .navbar-toggle .icon-bar {
	    background-color: #398fd8;
	    font-size: 1.4em;
	}

	.navbar-toggle .icon-bar {
		height: 4px;
	}

	.navbar-toggle:hover {
		background-color: black;
	}

	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:active,
	.navbar-default .navbar-toggle:focus {
	    background-color: transparent;
	}

	.services-marketing {
		height: 45vh;
	}

	.footer-block-social {
		margin-top: -33px;
	}

}


@media screen and (max-width: 767px)  {

	.navbar-default .navbar-toggle {
    	border-color: transparent;
    	margin-top: 16px;
	}

	 .navbar-collapse {
        border-bottom: 1px solid black;
        background-color: #f7f7f7;
        margin-top: 10px;
    }

    .navbar-collapse ul li {
    	font-size: inherit;
    }

    .navbar-default .navbar-nav>li>a {
    	margin-left: -40px;
    }

    .navbar-default .navbar-nav>li>a:hover {
		border-bottom: none;
		color: #d51ce0;
    }

    .navbar-default .navbar-nav>li>a:last-child {
		margin-bottom: 10px;
	}

	.hero h1 {
		font-size: 2.8em;
		color: #222;
		letter-spacing: 2px;
		margin-top: 40px;
		margin-bottom: 10px;
	}

	.services-development h2,
	.services-design h2,
	.services-marketing h2,
	.services-marketing h4,
	.services-marketing p {
	 	text-align: center;
	}

	.services-marketing {
		height: 80vh;
	}

	.services-marketing a {
		display: block;
		margin-left: auto;
  		margin-right: auto;
  		width: 40%;
  		text-align: center;
		
	}

	.contacts h2 {
		padding-top: 10px;
	}

	
	.sw-footer-box:first-child  {
		text-align: center;
	}

	.sw-footer-box ul li p,
	.sw-footer-box-two h4 {
		text-align: left;
	}

	.sw-footer-box-two {
		margin-bottom: 10px;
	}
	
	.sw-footer-box-two ul li p {
		text-align: left;
	}

	.footer-block-row,
	.footer-block-social {
		position: relative;
	}

	.footer-block-social {
		display: block;
		text-align: center;
	}

	@media screen and (max-width: 568px) {
		.top-bar {
			height: 120vh;
		}

		.services-marketing {
			height: 100vh;
		}
	}

	@media screen and (max-width: 480px) {

		.top-bar {
			height: 60vh;
			background-position: center top;
		}

		.hero h1 {
			font-size: 2em;
			margin-bottom: 20px;
		}

		.hero p {
			font-weight: 400;
		}

		.services-marketing {
			height: 60vh;
		}

		.services-marketing a {
			display: block;
			margin-left: auto;
	  		margin-right: auto;
	  		width: 80%;
	  		text-align: center;
		}

		.owl-carousel .item {
			width: 444px;
		}

		.owl-carousel {
			min-height: 10rem;
		    padding: 5px 5px;
		}

		.owl-theme .owl-nav [class*=owl-] {
		   display: none;
		}

		.contacts h2 {
			margin-top: -5px;
		}


		.footer-block-row {
			text-align: center;
		}

		.footer-block-row p {
			margin-bottom: 40px;
		}

		.footer-block-social {
		    margin-left: auto;
		    margin-right: auto;
		    width: 70%;
		}

	}

	@media screen and (max-width: 340px) {

		.top-bar {
			height: 70vh;
		}

		.services-marketing {
			height: 70vh;
		}

		.footer-block-social {
		    width: 75%;
		}
	}

}