
@media screen and (max-width: 991px) {

	
/* ========================================================================
 * Header 
 * ======================================================================== */

 
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    	margin: 0 auto;
 	}

	.navbar-brand img {
		margin-left: 247px;
	}

	.navbar-right {
		margin-top: 20px;
	}

	.button-request {
		border: 1px solid transparent;
	}

	.top-bar {
		background-position: center;
		height: 100vh;
	}


}

